@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Whyte Inktrap";
  src: url("/fonts/WhyteInktrap-Bold.woff") format("woff"),
    url("/fonts/whyte-inktrap-regular.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

body {
  background: #fff;
  /* overflow-x: hidden; */

}


/* scroll style */
/* Style the scrollbar container */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Style the track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px;
  width: 8px;
}

/* Style the draggable scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
  width: 8px;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

/* Optional: Adding a border around the thumb for a more refined look */
::-webkit-scrollbar-thumb {
  border: 2px solid #f1f1f1;
  width: 8px;
}

/* end scroll style */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Whyte Inktrap", sans-serif;
  color: #222 ;
}

p,
a,
li,
span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: #17F7DE;
}


.loader {
  width: 48px;
  height: 48px;
  border: 1px solid  rgb(21, 21, 21);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';  
  box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: rgb(0, 231, 133);
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 